<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="card-title display-4">Welcome to the Book Application!</h1>
          <p class="card-text lead">Choose an option:</p>
          <div class="btn-group mt-3" role="group">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/books">Book API</button>
            <button type="button" class="btn btn-secondary btn-lg" routerLink="/users">User API</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
