<div class="container mt-4">
  <h2 class="display-4 text-center">Books Library</h2>

  <!-- Modal for Displaying Selected Book -->
  <div class="modal" id="bookModal" #bookModal (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      <h3 class="modal-title">{{ selectedBook?.title }}</h3>
      <img *ngIf="selectedBook?.imageUrl" [src]="selectedBook?.imageUrl" alt="{{ selectedBook?.title }}" style="width: 200px; height: 315px; object-fit: cover; margin-bottom: 15px;"/>
      <p class="card-text"><strong>Author:</strong> {{ selectedBook?.author?.name }} {{ selectedBook?.author?.surname }}</p>
      <p class="card-text"><strong>Description:</strong> {{ selectedBook?.description }}</p>
      <p class="card-text"><strong>Rating:</strong> {{ selectedBook?.rating }}</p>
      <div class="modal-header">
        <span class="close-btn" (click)="closeModal()">&times;</span>
      </div>
    </div>
  </div>

  <!-- List of Books -->
  <div class="books-container mt-5">
    <div *ngFor="let book of books" class="book">
      <img *ngIf="book.imageUrl" [src]="book.imageUrl" alt="{{ book.title }}" class="book-image"
           (click)="getBook(book.id)">
      <p style="margin: 10px 0;">{{ book.title }}</p>
    </div>
  </div>

  <!-- Return to Home Page button -->
  <button (click)="navigateToHome()" class="btn btn-secondary btn-block mt-2">Return to Home Page</button>
</div>
