<div class="container mt-4">
  <h2 class="display-4 text-center">Books Management</h2>

  <!-- Alert placeholder for showing messages (e.g. Book Created, Book Deleted) -->
  <div id="alert-placeholder"></div>

  <!-- Modal for Displaying Selected Book -->
  <div class="modal" id="bookModal">
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      <h3 class="modal-title">{{ selectedBook?.title }}</h3>
      <img *ngIf="selectedBook?.imageUrl" [src]="selectedBook?.imageUrl" alt="{{ selectedBook?.title }}" style="width: 200px; height: 315px; object-fit: cover; margin-bottom: 15px;"/>
      <p class="card-text"><strong>Author ID:</strong> {{ selectedBook?.authorId }}</p>
      <p class="card-text"><strong>Description:</strong> {{ selectedBook?.description }}</p>
      <p class="card-text"><strong>Rating:</strong> {{ selectedBook?.rating }}</p>
    </div>
  </div>

  <!-- Error Message Display -->
  <div *ngIf="errorMessage" style="color: red; margin-bottom: 1em;">
    {{ errorMessage }}
  </div>

  <!-- Form to Create/Update Book -->
  <form (ngSubmit)="createOrUpdateBook()" id="book-form" class="mt-4">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" [(ngModel)]="formBook.title" name="title" class="form-control" required minlength="3" maxlength="25" placeholder="Title" #titleCtrl="ngModel">
      <div *ngIf="titleCtrl.errors && titleCtrl.touched" class="text-danger">
        <div *ngIf="titleCtrl.errors['required']">Title is required.</div>
        <div *ngIf="titleCtrl.errors['minlength']">Title must be at least 3 characters long.</div>
        <div *ngIf="titleCtrl.errors['maxlength']">Title must be no more than 25 characters long.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="authorId">Author ID</label>
      <input type="text" id="authorId" [(ngModel)]="formBook.authorId" name="authorId" placeholder="Author ID" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" [(ngModel)]="formBook.description" name="description" placeholder="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="rating">Rating</label>
      <input type="number" id="rating" [(ngModel)]="formBook.rating" name="rating" class="form-control" required min="1" max="5" placeholder="Rating" #ratingCtrl="ngModel">
      <div *ngIf="ratingCtrl.errors && ratingCtrl.touched" class="text-danger">
        <div *ngIf="ratingCtrl.errors['required']">Rating is required.</div>
        <div *ngIf="ratingCtrl.errors['min']">Rating must be at least 1.</div>
        <div *ngIf="ratingCtrl.errors['max']">Rating must be at most 5.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" id="imageUrl" [(ngModel)]="formBook.imageUrl" name="imageUrl" placeholder="Image URL" class="form-control"/>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary btn-block"/>
  </form>

  <!-- Delete All Books button -->
  <button (click)="deleteAllBooks()" class="btn btn-danger btn-block mt-2">Delete All Books for Selected User</button>

  <!-- Return to Home Page button -->
  <button (click)="navigateToHome()" class="btn btn-secondary btn-block mt-2">Return to Home Page</button>

  <!-- List of Books -->
  <div class="books-container mt-5">
    <div *ngFor="let book of books" class="book">
      <img *ngIf="book.imageUrl" [src]="book.imageUrl" alt="{{ book.title }}" style="width: 100px; height: 157.5px; object-fit: cover;">
      <p style="margin: 10px 0;">{{ book.title }}</p>
      <div class="buttons">
        <button (click)="getBook(book.id)" class="btn btn-info btn-sm">View</button>
        <button (click)="editBook(book)" class="btn btn-warning btn-sm">Edit</button>
        <button (click)="deleteBook(book.id)" class="btn btn-danger btn-sm">Delete</button>
      </div>
    </div>
  </div>
</div>
